<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
</head>
<body>
    <div class="col-md-2">
        
    </div>
    
    <div class="col-md-5">
              <form role="form" method="POST" action="/verify">
            <fieldset>								
                <div class="form-group">
                    <input type="otp" name="otp" id="otp" class="form-control input-lg" placeholder="Your OTP">
                </div>
                <div>
                    <button>Submit</button>        
                    
                </div>
                     
             </fieldset>
    </form>	
    </div>
</body>
</html>